body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #40514E;
    background-color: rgb(239, 243, 243);
}

h1 {
    margin: 50px auto 0 auto;
    /* font-size: 60px; */
    /* font-size: 562.5%;*/
    /*This method is used to make the styling dynamic. 16px=100%=1em */
    /*font-size: 5.625em;*/
    /*This method is used to make the styling dynamic. 16px=100%=1em*/
    font-size: 3.625rem;
    /*This method is used to make the styling dynamic. This method is preferred over em or % as it does not add any value from its parent class*/
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

a {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.work {
    font-size: 1.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h2 {

    color: #11999E;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

.footer-link {
    color: #11999E;

}

span {
    text-decoration: underline;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}


.btn {
    background-color: #11CDD4;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.contact-me {
    width: 40%;
    margin: 60px auto;
    line-height: 2;
}

.bottom-container {
    background-color: rgb(83, 245, 245);
    padding: 50px 0 20px;
}

.btmCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.description {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: left;
}

.football {
    width: 25%;
    float: right;
    margin-left: 30px;
    height: 180px;
}

.gif {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.middle-container {
    margin: 30px;
}

.myPhoto {
    padding-top: 10px;
    height: 200px;
    width: 200px;
}

.skills {
    margin: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.topContainer {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

p {
    line-height: 2;
}